
.ipynb_checkpoints/api-checkpoint.ipynb
.ipynb_checkpoints/api-checkpoint.json
.ipynb_checkpoints/BigDataMlOps2024-2025-checkpoint.pdf
.ipynb_checkpoints/appelGithub-checkpoint.py
api.json
api.github.com.yaml
.DS_Store
consigne.txt
src/.env
api-base-mongo/.ipynb_checkpoints/lib_mongoDB-checkpoint.py
api-base-mongo/.env

api-base-mongo/.ipynb_checkpoints/lib_mongoDB-checkpoint.py
api-base-mongo/.env

api-request-github/.env